body {
    margin: 0;
    padding: 0;
}

.bg-section {
    background-image: url('./tractor.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    text-align: center;
}